{
  "extends": "airbnb",
  "rules": {
    "semi": 0,
    "space-before-function-paren": 0,
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }]
  },
  "plugins": [
    "react"
  ]
}